<!DOCTYPE html>
<html>
<head>
    <title>Table Example</title>
    <style>
        #captureDates {
            margin: 0 auto;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 5px;
            text-align: center;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<table id="captureDates">
    <thead>
    <tr>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script>
    $(function () {
        $.get('/capture/get', function (data) {
            var tbody = $('#captureDates tbody');
            for (var i = 0; i < data.values.length; i++) {
                var row = $('<tr>');
                var link = $('<a>').text(data.values[i]).attr('href', 'http://127.0.0.1:5000/capture/' + data.ids[i]);
                var cell = $('<td>').append(link);
                row.append(cell);
                tbody.append(row);
            }
            ;
        });
    });
</script>
</body>
</html>