<!DOCTYPE html>
<html>
<head>
    <title>Radar</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<div class="chart-container" style="position: relative; height:500px; width:500vw">
    <canvas id="Radar"></canvas>
</div>
<script>
    const url = "/radar/data"

    const source = new EventSource(url)

    const radar_chart = init_chart();

    source.onmessage = function (msg) {
        const data = JSON.parse(msg.data)

        update_chart(radar_chart, data);
    }

    function init_chart() {
        const canvas = document.getElementById('Radar');
        const data_set = {
            labels: [],
            datasets: [{
                label: 'Radar Dataset',
                data: [],
                fill: true,
                backgroundColor: 'rgb(120,225,15)',
                borderColor: 'rgb(47,244,14)',
                pointBackgroundColor: 'rgb(141,255,99)',
                pointBorderColor: 'rgba(0,0,0,0)',
                pointHoverBackgroundColor: 'rgba(0,0,0,0)',
                pointHoverBorderColor: 'rgb(0,0,0)',
                borderJoinStyle: 'round',
            }]
        }

        return new Chart(canvas, {
            type: 'radar',
            data: data_set,
            options: {}
        });
    }

    function update_chart(radar_chart, data) {
        radar_chart.data.datasets[0].data = data.values;
        radar_chart.data.labels = data.labels;

        radar_chart.update();
    }

</script>
</body>
</html>
