<!DOCTYPE html>
<html>
<head>
    <title>Radar</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<div>
    <canvas id="myChart"></canvas>
</div>
<script>
    // Define the chart data
    const data = {
        labels: ['1','1','1','1','1','1','1','1','1','1'],
        datasets: [{
            label: 'My First Dataset',
            data: [65, 59, 90, 81, 56, 55, 40,56,14,35],
            fill: true,
            backgroundColor: 'rgb(120,225,15)',
            borderColor: 'rgb(47,244,14)',
            pointBackgroundColor: 'rgb(141,255,99)',
            pointBorderColor: 'rgba(0,0,0,0)',
            pointHoverBackgroundColor: 'rgba(0,0,0,0)',
            pointHoverBorderColor: 'rgb(0,0,0)',
            borderJoinStyle: 'round',
        }]
    };
    // Get the canvas element and create the chart
    const canvas = document.getElementById('myChart');
    const chart = new Chart(canvas, {
        type: 'radar',
        data: data,
        options: {}
    });
</script>
</body>
</html>