<!DOCTYPE html>
<html>
<head>
    <title>Radar</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<div class="chart-container" style="position: relative; height:500px; width:500vw">
    <canvas id="Radar"></canvas>
</div>
<script>
    const url = "{{ url_for('radar.get_data') }}"

    fetch(url)
        .then(response => response.json())
        .then(data => {
            const canvas = document.getElementById('Radar').getContext('2d');
            const data_set = {
                labels: data.labels,
                datasets: [{
                    label: 'Radar Dataset',
                    data: data.values,
                    fill: true,
                    backgroundColor: 'rgb(120,225,15)',
                    borderColor: 'rgb(47,244,14)',
                    pointBackgroundColor: 'rgb(141,255,99)',
                    pointBorderColor: 'rgba(0,0,0,0)',
                    pointHoverBackgroundColor: 'rgba(0,0,0,0)',
                    pointHoverBorderColor: 'rgb(0,0,0)',
                    borderJoinStyle: 'round',
                }]
            }

            new Chart(canvas, {
                type: 'radar',
                data: data_set,
                options: {}
            });
        })
        .catch(error => console.error(error))

</script>
</body>
</html>
